
.comment-list {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    border: solid black 2px;
    color: #000;
    background-color: #f9f9f9;
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .comment-title {
    margin: 0;
    text-align: center;
  }
  
  .comment-actions {
    display: flex;
    height: 60px;
    align-items: center;
    gap: 10px;
  }
  
  .comment-input {
    flex: 1;
  }
  
  .comment-button {
    background: #3399ff;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 0 20px;
    height: 40px;
    cursor: pointer;
  }
  
  .comments-container {
    overflow-y: auto;
  }
  
  .comment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .comment-details {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .comment-header-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .comment-author {
    font-weight: bold;
  }
  
  .comment-date {
    color: grey;
    font-size: 14px;
  }
  
  .comment-text {
    margin: 0;
  }
  
  .comment-actions-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .comment-action-icon {
    font-size: 18px;
    cursor: pointer;
  }
  
  .comment-action-count {
    margin-left: 5px;
  }
  