
.navbar {
    height: 70px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    height: 65px;
}

.route {
    display: flex;
    align-items: center;
}

.navbar__item {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}

.navbar__item-active {
    color: yellow;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    width: auto;
}

.shop-icon {
    font-size: 24px;
    margin-right: 20px;
    color: white; 
}

.div-reg {
    cursor: pointer;
    background: #007bff;
    border-radius: 5px;
    padding: 10px 20px; 
    margin-right: 10px;
    color: white; 
    font-size: 16px; 
    text-align: center;
    border: none; 
    transition:  0.3s ease; 
}

.div-reg:hover {
    background: #0056b3; 
}

.div-reg:active {
    background: #004080; 
}

.div-reg:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}
