.forgot {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lightblue; /* Переместил сюда */
  font-size: 20px; /* Переместил сюда */
}

.forgot-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.auth-label {
  margin-bottom: 10px;
  color: white; 
  font-size: 20px; 
}

.auth-input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.auth-btn {
  padding: 10px;
  background-color: #4a4a4a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
}

.error-msg {
  color: red;
  font-size: 16px;
}
